.citysearch {
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.citysearch input {
	color: #7B8585;
}