/* Footer */
.footer {
	background: url('../img/footer.jpg') no-repeat center center;
	background-size: cover;
	height: 600px;
	text-align: center;
	padding: 0 20px;
}

.footer .container {
	position: relative;
	top: 200px;
}

.footer h2 {
	color: #fff;
	font-size: 40px;
	margin: 0 0 20px 0;
	padding:50px 0 0;
}

.footer p {
	color: #fff;
	margin: 0 0 20px 0;
	font-size: 18px;
}

.footer .btn {
	background-color: #1c1c1c;
	color: #fff;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
}