/* Header */
.header {
  background-color: #1c1c1c;
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-direction: grid;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	grid-template-areas:
		'logo pull-right'
}
.header h1 {
  color: #ffa800;
  font-size: 1rem;
  text-transform: uppercase;
}
.header h1 span {
  color: #fff;
}
.header .login p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.login-menu.false * {
	display: none;
}
.login-menu.true * {
	display: block;
}