/* Hero */
.hero {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	padding: 2rem;
	height: 30vh;
}
.hero h2 {
	color: #fff;
	font-size: 2rem;
}