.move {
	margin: 0;
}

.move div > h1,
.move div > h2,
 .move div > a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.move ~ p {
	font-family: Helvetica, Arial, sans-serif;
}

.move > a.btn:hover {
	background:#ffa800;
	color:#000;
}